*{
    margin: 0;
    padding: 0;

    --bg-color:#f0f0f2;
    --second-bg-color:#d3d3d3;
    --third-bg-color:#f7f8fa;
    --rare-color:#e04f1b;

    --main-font-color:#fffdfa;
    --secondary-font-color:#0f0e0d;
    --third-font-color:#333333;
    --rare-font-color:#e04f1b;

    scroll-behavior: smooth;

}
@font-face {
    font-family: "Mikro-bold";
    src: url(Assets/63da5f9c8bd6942ad6b98fab_Mikro-Bold.otf);
}
@font-face {
    font-family: "Mikro-medium";
    src: url(Assets/63da5f9c4a5c0059f761e0e0_Mikro-Medium.otf);
}
@font-face {
    font-family: "Mikro-regular";
    src: url(Assets/63da5f9c1536e88a81c5090d_Mikro-Regular.otf);
}
body{
    font-family: "Mikro-regular";
}
.main{
    width: 100%;
    height: 100vh;
    background: url(Assets/background.webp);
    background-position: center;
    background-size: cover;
    /* display: flex;
    flex-direction: column; */

}
.header{
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav-container{
    padding: 10px;
}
.nav-logo{
    padding: 10px;
    width: 189px;
    height: 22px;
    cursor: pointer;
}
.nav-list{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav-list ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}
.nav-list ul a{
    text-decoration: none;
    color: var(--main-font-color);
}
.nav-list button{
    padding: 10px 16px;
    border: 1px solid var(--rare-color);
    border-radius: 2rem;
    font-size: 14px;
    letter-spacing: .2px;
    font-weight: 700;
    color: var(--bg-color);
    background: var(--rare-color);
    cursor: pointer;
}
.main-section{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-section .main-text h1{
    margin-top: 58px;
    text-align: center;
    font-family: "Mikro-regular";
    font-size: 56px;
    font-weight: 400;
    color: var(--bg-color);
    line-height: 60px;
    letter-spacing: -1.12px;
}
.main-section .main-text p{
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color:#d3d3d3b0;
}
.orgin{
    display: flex;
    gap: .5rem;
    align-items: start;
    justify-content: center;
}
.orgin img{
    width: 35px;
}
.orgin p{
    font-size: .9rem;
    color: #d3d3d3db;
    margin-bottom: 45px;
}
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.build{
    padding: 20px;
}
.build h2{
    color:#333333;
    font-size: 2.8rem;
    font-weight: 100px;
    text-align: center;
    margin-top: 130px;
    line-height: 80px;
}
.build p{
    text-align: center;
    font-size: 1.2rem;
    color: #333333c6;
}
.video{
    margin: 130px;
    margin-top: 60px;
    width: 1280px;
    height: 720px;
    border-radius: 2rem;
}
.marketing{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.title{
   width: 25%
}
.title h2{
    font-size: 35px;
    color: var(--third-font-color);
}
.description p{
    text-align: justify;
    font-size: 1.2rem;
    color: #333333c6;
}
.acheivement{
    margin-top: 40px;
    display: grid;
    grid: auto auto/ auto auto;
    gap: 2rem;
}
.achive p{
    font-size: 1rem;
}
.achive h2{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--rare-font-color);
}
.feature{
    width: 100%;
    display: grid;
    grid: auto / auto auto auto;
    gap: 1rem;
    justify-content: center;
    margin-top: 150px;
}
.feature-img{
    width: 394px;
    height: 320px;
    border-radius: 1rem;
}
.feature-cards{
    padding: 10px;
}
.feature-cards h3{
    font-size: 17px;
    line-height: 40px;
    color: var(--third-font-color);
}
.feature-cards p{
    font-size: .9rem;
    color: #333333a9;
}
.feature-btn{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.btn{
    margin-top: 30px;
    width: 180px;
    height: 38px;
    padding: 10px;
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    background: #e04f1b;
    border-radius: 2rem;
    cursor: pointer;

}
.btn p{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.btn img{
    padding: 5px 8px;
    width: 20px;
    background: #b23712;
    border-radius: 15px;
}
.product{
    width: 100%;
    height: 140vh;
    background: url(Assets/background-2.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30rem;
}
.product-div-1{
    margin-top: 0px;
    text-align: center;
}
.product-div-1 h1{
    color: var(--bg-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 90px;
}
.product-div-1 p{
    color: #fffdfae6;
    line-height: 25px;
    font-size: 19px;
}
.product-div-2{
    display: grid;
    grid:auto/auto auto auto;
    gap: 5rem;
}
.product-describe{
    color: var(--bg-color);

}
.product-describe h3{
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
}
.product-describe p{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
}
.compare{
    display: flex;
    flex-direction: column;
    /* justify-content:; */
    align-items: center;
    width: 100%;
    background: var(--secondary-font-color);
    color: #d3d3d3;
}
.compare-product{
    width: 80%;
    display: flex;
    flex-direction: column;

}
.compare-product-title h2{
    margin-top: 120px;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
}
.compare-product-many-cards{
    float: left;
    width: 25%;
    height: 660px;
    padding: 25px;
    /* border: 1px solid white; */
}
.compare-product-many{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
 
}
.compare-product-many-content{
    margin-bottom: 40px;
}
.compare-product-many-content .company-img{
    width :30px;
}
.compare-product-many-content .company-h3-1{
    line-height: 40px;
}
.compare-product-many-content .company-h3-2{
    line-height: 38px;
}
.compare-product-many-content .company-h3-3{
    line-height: 40px;
}

.compare-product-many-content-text{
  
    border-top: .5px solid var(--third-font-color);
    border-bottom: .5px solid var(--third-font-color);
    padding: 10px;
}
.fake{
    color: #0f0e0d;
    line-height: 50px;
}
.company-2{  
    width: 100px;
    height: 30px;
}
.company-3{
    width: 30px;
}
.company-fake{
    font-size: 14px;
    color: #d3d3d3a4;
    padding: 11px;
}
.cards-main{
    background: #1b1b1c;
    border-radius: 1rem;
    padding: 38px;
    padding-left: 40px;
    padding-right: 40px;
}
.content-main{
    color:#fa671e;
    font-size: 16px;
    font-weight: 500;
}
.tick-1{
    padding: 4px;
}
.tick{
    width: 25px;
}
.promises{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promises h1{
    margin-top: 220px;
    font-size: 45px;
    font-weight: 400;
    line-height: 90px;
    text-align: center;
}
.promises p{
    font-size: 20px;
    text-align: center;
    color: #d3d3d3cf;
    line-height: 30px;
}
.promises-container{
    margin: 100px;
    width: 55%;
    display: grid;
    gap: 5rem;
    grid: auto auto/auto auto;
}
.promises-cards img{
    width: 50px;
    margin-bottom: 20px;
}
.promises-cards p{
    text-align: start;
    font-size: 16px;
    line-height: 20px;
    color: #d3d3d3e5;
}
.promises-cards span{
    color: var(--bg-color);
    font-size: 17px;
    font-weight: 400;
}
.made-in{
    width: 50%;
}
.made-in-text{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.made-in-text img{
    width: 70px;
}
.made-in-text h2{
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
}
.made-in p{
    margin-top: 19px;
    text-align: center;
    font-size: 18px;
    color: #d3d3d3e6;
    line-height: 26px;
}
.made-in-text-btn{
    display: flex;
    justify-content: center;
    text-align: center; 
    margin-top: 90px;
    
}
.made-in-text-btn button{
    width: 200px;
    background: #fa671e;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: var(--bg-color);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 15px;
    font-weight: 600;
    margin-bottom: 150px;
    cursor: pointer;
}
.made-in-text-btn button img{
    width: 20px;
    border-radius: 3rem;
    background: #e04f1b;
    padding: 5px;
}
footer{
    display: flex;
    width: 100%;
    gap: 25rem;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 80px;
}
.footer-container{
    display: grid;
    grid: auto/auto auto auto;
    gap: 7rem;
}
.footer-cards ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}
.footer-cards .footer-list-text a{
    font-size: 14px;
    text-decoration: none;
    color: #1b1b1c;
}
.footer-list-header a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #0f0e0d53;
}
.footer-list-header a:hover,.footer-list-text a:hover{
    color: #0f0e0d7a;
    transition: all .3s ease;
}
